/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccafc6;
  color: #2c3b62;
  margin: 0 auto;
  max-width: 1100px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

header {
  margin: 1.5rem 0;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c3b62;
}

h1,
h2 {
  font-weight: normal;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 1.5rem;
}

.logo {
  width: 10rem;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 20rem;
  margin: 0;
  padding: 0;
}

/* SOCIAL MEDIA LINKS */
.sm-links {
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.sm-links img {
  display: flex;
  justify-content: space-around;
  width: 1.5rem;
}
